# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

# Check for .html file in the directory

RewriteCond %{REQUEST_FILENAME}\.html -f 

# Here we actually show the page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]